@import "../../../styles/constants";

.goods {
  width: 100%;

  & &__header {
    display: none;
    position: relative;
    font-family: Nunito Sans, sans-serif;
    font-size: $mediumMediumSize;

    @media screen and (max-width: 600px) {
      padding-top: 8px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $backgroundColor;
    }
  }

  & &__mobile-button {
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;
    background: transparent;
    border: none;
  }

  &__selects {
    margin-bottom: 66px;
    display: flex;
    gap: 36px;

    @media screen and (max-width: 870px) {
      margin-bottom: 36px;
    }

    @media screen and (max-width: 800px) {
      gap: 10px;
    }

    @media screen and (max-width: 730px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
      padding-bottom: 5px;
      margin-bottom: 4px;
      padding-left: 22px;
      background-color: $backgroundColor;
      box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width: 600px) {
      padding-left: 10px;
    }
  }

  & &__label {

    &_first {
      @media screen and (max-width: 1010px){
        width: 66px;
      }

    }


    @media screen and (max-width: 730px) {
      display: none;
    }
  }

  &__button {
    position: relative;
    margin-left: auto;
    width: 157px;
    margin-bottom: 0;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  & .goods-wrapper {
    margin-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 32px;

    @media screen and (max-width: 870px){
      column-gap: 100px;
    }

    @media screen and (max-width: 740px){
      column-gap: 60px;
    }

    @media screen and (max-width: 700px){
      column-gap: 30px;
    }

    @media screen and (max-width: 700px){
      column-gap: 0;
    }

    @media screen and (max-width: 600px){
      row-gap: 4px;
    }
  }
}

