@import "src/styles/constants";

.orders-list {
  margin-top: 20px;
  margin-bottom: 173px;

  @media screen and (max-width: 810px){
    margin-bottom: 50px;
  }

  & &__title {
    margin-bottom: 20px;
    font-size: $subTitleSize;
    color: $title2Color;
  }

  & &__wrapper {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 810px){
      flex-direction: column-reverse;
    }
  }

  & &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media screen and (max-width: 810px) {
      gap: 5px;
    }
  }

  & &__selects {
    min-width: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding-left: 29px;
    width: 24%;
    height: 178px;
    font-size: $bigMediumSize;
    color: $title3Color;
    border: 1px solid $borderColor;
    border-radius: 20px;

    @media screen and (max-width: 810px) {
      padding-right: 60px;
      padding-bottom: 15px;
      overflow: scroll;
      justify-content: flex-start;
      padding-left: 0;
      width: 557px;
      height: auto;
      border: none;
      flex-direction: row;
      font-size: $mediumMediumSize;
    }
  }

  & &__select {
    position: relative;
    cursor: pointer;

    @media screen and (max-width: 810px) {
      text-align: center;
      padding: 9px 12px;
      min-width: 170px;
    }

    &.active {
      color: $text2Color;

      @media screen and (max-width: 810px) {
        border-bottom: 2px solid $text2Color;
      }

      &::before {
        content: '';
        position: absolute;
        left: -29px;
        height: 30px;
        width: 1px;
        background-color: $additionalColor;

        @media screen and (max-width: 810px) {
          content: none;
        }
      }
    }
  }
}