@import "../../../../styles/constants";
@import "../../../../styles/mixins";


.good-colors {
  width: min-content;
  min-width: 286px;

  & &__select {
    position: relative;
    max-width: 224px;
  }



  & &__modal {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 300px;
    background-color: $backgroundColor;
    box-shadow: $modalBoxShadow;
  }
}

.modal-colors {
  & &__header {
    position: relative;
    box-shadow: $modalBoxShadow;
  }

  & &__title {
    padding: 11px;
    font-size: $littleMediumSize;
    font-weight: 400;
    color: $text2Color;
    text-align: center;
  }

  &__close {
    position: absolute;
    right: 11px;
    top: 9px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  & &__item {
    padding-left: 16px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  & &__color {
    @extend %color-example
  }

  & &__footer {
    height: 48px;
    @include flex(center, center);
    box-shadow: $modalBoxShadow;
  }

  & &__button {
    max-width: 148px;
  }
}
