@import "src/styles/constants";

.modalCode {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__text {
    margin-bottom: 16px;
    font-size: $littleSize;
    line-height: 20px;

    & strong {
      font-weight: 700;
    }
  }

  & .inputCode {
    position: relative;
  }

  & .warning-input {
    position: absolute;
    bottom: 15px;
  }

  & &__button {
    margin-top: auto;
  }
}
