@import "src/styles/constants";
@import "src/styles/mixins";

.reviews {
  
  @media screen and (max-width: 520px) {
    padding: 0 5px;
  }
  & &__not-registration {
    font-size: $littleSize;
    color: $text4Color;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  & &__form {
    @include flex(flex-start, flex-end, 20px);
    margin-bottom: 40px;

  }

  & &__textarea {
    max-width: 736px;
    padding: 12px 15px;
    width: 100%;
    height: 84px;
    border-radius: 15px;
    border: 1.5px solid $title3Color;
    font-family: Open Sans, sans-serif;
    color: $text4Color;
    font-size: $mediumLittleSize;
    white-space: pre-wrap;
  }

  & &__button {
    max-width: 129px;
    gap: 6px;
  }

  & &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}

.comment {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 520px) {
    gap: 10px;
  }

  & &__inf {
    margin-top: 10px;

    @media screen and (max-width: 520px) {
      margin-bottom: 5px;
    }
  }

  & h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: $littleSize;
    color: $text2Color;
    margin-bottom: 2px;
  }

  //& &__rate {
  //  margin-bottom: 3px;
  //  height: 14px;
  //}

  & &__date {
    font-size: $mediumLittleSize;
    color: $text4Color;
    margin-bottom: 40px;

    @media screen and (max-width: 520px) {
      margin-bottom: 10px;
    }
  }
  & &__text {
    font-size: $bigMediumSize;
    color: $title2Color;

    @media screen and (max-width: 520px) {
      font-size: $mediumMediumSize;
    }
  }
}
