@import "../../../../styles/constants";

.checkboxes-size {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  gap: 9px;

  & .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    &__label {
      font-size: $bigMediumSize;
      color: $text4Color;
    }
  }


}

.seasons-inputs {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.seasons-input {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $bigMediumSize;
}