@import "../../../styles/constants";
@import "../../../styles/mixins";

.order {
  margin: 20px 0 160px;
  color: $text4Color;

  &__title {
    font-size: $subTitleSize;
    color: $text2Color;
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 8.3%;

    @media screen and (max-width: 810px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__ordering {
    flex: 1;
  }

  & .order-payment {
    @media screen and (max-width: 470px){
      width: 100%;
    }
  }

  &__label {
    color: $text4Color;
    font-size: $mediumLittleSize;

    &_up {
      display: block;

      margin-bottom: 8px;

      &.error {
        color: $errorColor;
      }
    }
  }

  & .wrapper-radio {
    margin-bottom: 10px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__text {
      font-size: $littleMediumSize;

      &.selected {
        color: $text2Color;
      }
    }
  }

  .radio-input {
    display: none;
  }

  .custom-radio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    @include square(20px);
    border: 1.5px solid $title3Color; /* Исходный цвет рамки */
    border-radius: 50%;

    &.error {
      border-color: $errorColor;
    }

    &.selected {
      border: 1.5px solid $additionalColor;

      &::before {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        @include square(10px);
        background-color: $additionalColor;
        border-radius: 50%;
      }

      & .wrapper-radio__text {
      }
    }


  }

  &__cities {
    margin-bottom: 39px;
    width: 197px;

    &.large {
      width: 300px;
    }
  }

  &__inputs {
    padding-top: 18px;
    border-top: 1px solid $borderColor;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: $mediumMediumSize;
    font-weight: 800;
    color: $text2Color;
  }

  &__inputs-container {
    max-width: 413px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 20px;

     & > * {
       width: 100%;
     }
  }

  &__input_short {
    width: calc(50% - 10px);
  }

  &__textarea {
    padding: 5px;
    font-size: inherit;
    resize: none;
    height: 80px;
  }

  &__request {
    padding: 31px 50px 22px;
    border: 1.5px solid $borderColor;
    border-radius: 15px;
  }

  &__finish {
    color: $title2Color;
  }
}
