@import '../constants';

.status {
  display: inline-block;
  font-size: $littleSize;
  padding: 10px 14px;
  text-transform: uppercase;
  border-radius: 15px;
  border-width: 1.5px;
  border-style: solid;
  font-weight: 800;

  &_back {
    width: min-content;
    height: fit-content;
    font-size: $mediumLittleSize;
    border-radius: 12px;
    padding: 12px;
    border: none;
    text-transform: lowercase;
    font-weight: 800;
  }

  &_green {
    color: $successColor;
    border-color: $successColor;
  }

  &_green_back {
    color: $successColor;
    background: linear-gradient(180deg, rgba(46, 213, 115, 0.15) 35%, rgba(30, 206, 229, 0.15) 150.88%);
  }


  &_yellow {
    color: $warningColor;
    border-color: $warningColor;
  }

  &_yellow_back {
    color: $warningColor;
    background: linear-gradient(180deg, rgba(227, 221, 59, 0.15) 35%, rgba(229, 114, 30, 0.15) 150.88%);
  }

  &_red {
    color: $errorColor;
    border-color: $errorColor;
  }

  &_violet_back {
    width: 93px;
    color: $additionalColor;
    background: linear-gradient(180deg, rgba(100, 58, 190, 0.15) 0%, rgba(174, 82, 218, 0.15) 100%);
  }
}
