@import "../../../styles/constants";
@import "../../../styles/mixins";

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 36px;
  max-width: 1000px;
}

.red-span {
  color: $error2Color;
}

.form-data {
  &__description {
    margin-bottom: 14px;
    font-size: $littleMediumSize;
    line-height: 20px;
    color: $text2Color;
  }

  & .legend {
    font-weight: 800;
    font-size: $subTitleSize;
    color: $title2Color;
    margin-bottom: 8px;

    @media screen and (max-width: 500px) {
      font-size: $mediumMediumSize;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (max-width: 500px) {
      gap: 15px;
    }
  }

  &__block {
    display: flex;
    gap: 12px;
    width: 100%;
  }

  & .reg-field {
    width: 305px;
    position: relative;

    &__check {
      min-width: 413px;

      @media screen and (max-width: 435px) {
        min-width: 100%;
      }
    }
  }

  &__nearly {
    margin-bottom: 8px;
    display: flex;
    gap: 12px;
    align-items: center;

    @media screen and (max-width: 435px) {
      flex-wrap: wrap;
    }

    & .legend {
      margin-bottom: 0;
      @media screen and (max-width: 435px) {
        margin-right: 100px;
      }
    }
  }

  & .mark {
    display: flex;
    align-items: center;
    padding: 0;

    &_absolute {
      margin-top: 8.75px;

      & > span {
        white-space: nowrap;

        @media screen and (max-width: 570px) {
          white-space: normal;
        }
      }
    }

    &.error {
      margin-bottom: 32px;
      max-width: 630px;
      padding: 9px 11px;
      border-radius: 15px;
      background: $error2Color;

      & > span {
        color: $backgroundColor;
      }
    }
  }

  & .checkbox {
    @include square(20px)
  }
}

//.input-file {
//  width: 50%;
//  max-width: 150px;
//  display: flex;
//  padding-top: 25px;
//  font-weight: 800;
//  font-size: $littleSize;
//
//  &.bottom {
//    flex-direction: column;
//    align-items: center;
//    gap: 18px;
//  }
//
//  .image-user {
//    width: 92px;
//    height: 92px;
//    border-radius: 50%;
//  }
//
//
//  input {
//    width: 0.1px;
//    height: 0.1px;
//    opacity: 0;
//    overflow: hidden;
//    position: absolute;
//    z-index: -1;
//  }
//
//  label {
//    padding: 0 16px;
//    height: 40px;
//    @include flex(center, center, 8.75px);
//    border: 1px solid $additionalColor;
//    border-radius: 17px;
//    color: $additionalColor;
//    cursor: pointer;
//
//    & > span {
//      text-transform: uppercase;
//    }
//
//
//  }
//
//  label.current {
//    color: $successColor;
//    border: 1px solid $successColor;
//  }
//
//  .name-image {
//    margin-left: 8px;
//    padding: 2px 16px;
//    background-color: $background4Color;
//    min-height: 40px;
//    @include flex(center, center, 8px);
//    border-radius: 16px;
//
//    & > img {
//      cursor: pointer;
//    }
//  }
//}
