@import "../../../styles/constants";
@import "../../../styles/mixins";

.shelter-tools-mobile {
  position: fixed;
  height: calc(100vh - 46px);
  right: -100vw;
  width: 100vw;
  top: 0;
  padding: 0 8px;
  background-color: #F5F5F5;
  transition: $slowTransition;
  z-index: 997;

  @media screen and (min-width: 650px){
    display: none;
  }

  .shelter-icon {
    @include iconShop(60px);
  }

  & .name-market {
    font-weight: 800;
    font-size: $subTitleSize;
    padding-top: 5px;
  }

  & .isIndividual-name {
    font-size: $mediumLittleSize;
  }

  &.active {
    right: 0;
  }

  &__header {
    margin-bottom: 8px;
    padding: 28px 8px 32px;
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 0 0 8px 8px;
    background-color: $backgroundColor
  }

  &__buttons {
    //gap: 18px !important;

    & .tools-link {
      margin-left: 8%;
      transform: scale(1.2);
      padding: 10px 12px 10px 12px;
    }
  }

  & &__item {
    background-color: $backgroundColor;
    border-radius: 8px;
  }
}
