@import "../../../styles/constants";

.cart {
  margin: 93px 0 138px;
  font-size: $littleMediumSize;


  @media screen and (max-width: 1000px) {
    margin-top: 45px;
  }

  @media screen and (max-width: 690px) {
    margin: 12px 20px;
  }

  @media screen and (max-width: 610px) {
    font-size: $mediumLittleSize;
  }

  & &__title {
    margin-bottom: 28px;
    font-size: $bigTitleSize;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    line-height: 90%;

    @media screen and (max-width: 450px) {
      font-size: $mediumMediumSize;
      margin-bottom: 8px;
    }

  }

  & &__count {
    color: $text4Color;
  }

  & &__buttons {
    margin-bottom: 24px;
    display: flex;
    gap: 27px;

    @media screen and (max-width: 400px) {
      margin-bottom: 16px;
    }
  }

  & &__checkbox {
    display: flex;
    align-items: center;
    gap: 7px;

    @media screen and (max-width: 400px) {
      gap: 0;
      font-size: $veryLittleSize;
    }
  }

  & &__button {
    width: 119px;

    & > img {
      margin-right: 6px;
    }

    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  & &__count {
    color: $text4Color;
  }

  & &__container {
    display: flex;
    justify-content: space-between;
    gap: 109px;

    @media screen and (max-width: 1160px) {
      gap: 10px;
    }

    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }

  & &__cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 39px;
    padding-top: 30px;
    border-top: 1px solid $borderColor;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    @media screen and (max-width: 530px) {
      padding-bottom: 20px;
      border-bottom: 1px solid $borderColor;
    }

    @media screen and (max-width: 450px) {
      gap: 14px;
    }
  }
}

.cart-ordering {
  width: 413px;
  border: 1.5px solid $borderColor;
  border-radius: 15px;
  padding: 31px 50px 22px;

  @media screen and (max-width: 1160px) {
    padding: 31px 10px 22px;
  }

  @media screen and (max-width: 850px) {
    border: none;
  }

  @media screen and (max-width: 450px) {
    padding: 6px 0 16px;
    width: 100%;
    height: auto;
    border-bottom: 1.5px solid $borderColor;
  }

  &.max-height {
    height: 293px;
  }

  &__order {
    margin-bottom: 12px;
    font-size: $subTitleSize;
    font-weight: 800;
  }

  &__price {
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

    @media screen and (max-width: 450px) {
      height: auto;
      margin-bottom: 3px;
      font-size: $mediumLittleSize;
    }
  }

  &__warning {
    font-size: $littleMediumSize;
    color: $errorColor;
    text-align: center;
    width: 100%;

    &.margin {
      margin-bottom: 10px;
    }
  }

  &__finish {
    margin: 10px 0 24px;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: $mediumTitleSize;
    color: $title3Color;

    @media screen and (max-width: 450px) {
      font-size: 12.6px;
      margin: 11px 0 21px;
      color: $title2Color;
    }

  }

  &__buttons {
    margin: auto;
    max-width: 265px;

    @media screen and (max-width: 450px) {
      max-width: 100%;
    }
  }
}
