@import "/src/styles/mixins";

.button-back {
  width: 98px;
  display: flex;
  gap: 6.75px;
}

.button-back-mobile {
  margin-left: 18px;
  @include flex(center, center);
  @include square(28px);
  border-radius: 50%;
  background-color: rgba(133, 84, 234, 0.08);
  cursor: pointer;
}