@import "../../../styles/constants";
@import "../../../styles/mixins";

.order-mini-card {
  display: flex;
  justify-content: space-between;
  font-size: $mediumLittleSize;
  padding: 13px 27px 13px 7px;
  border-radius: 10px;

  &_even {
    background-color: rgba(100, 58, 190, 0.10);
  }

  & &__name {
    display: flex;
    gap: 7px;
    min-width: 230px;
  }

  & &__img {
    min-width: 44px;
    max-width: 44px;
    min-height: 49px;
    max-height: 49px;
    border-radius: 10px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & &__title {
    font-size: 12.6px;
    color: $text2Color;
    font-weight: 800;
    line-height: 115%;
  }

  & &__type {
    color: $text4Color;
  }

  & &__buyer {
    max-width: 90px;
    width: 13%;
  }

  & &__count {
    width: 6.5%;
    margin-right: 11px;
    max-width: 40px;
  }

  & &__delivery {
    margin-right: 10px;
  }

  & &__address {
    width: 152px;
  }

  & &__status {
    display: flex;
  }

  & &__status_delivery {
    display: flex;
    margin-right: 10px;
  }
}
