@import "../../../styles/constants";
@import "../../../styles/mixins";

.order-card-mobile {
  margin: 0 8px 4px;
  padding: 7px 7px 8px 4px;
  border-radius: 20px;
  background-color: $backgroundColor;
  cursor: pointer;

  & &__visible {
    @include flex();
    margin-bottom: 8px;
  }

  & &__image {
    margin-right: 8px;
    width: 68px;
    height: 80px;
    border-radius: 15px;
    background: $plugColor;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & &__title {
    font-family: Nunito Sans, sans-serif;
    font-size: $mediumMediumSize;
    font-weight: 800;
    color: $titleColor;
  }

  & &__price {
    margin-bottom: 5px;
  }

  & &__types {
    color: $text4Color;
    font-size: $mediumLittleSize;
  }

  & &__count {
    margin-bottom: 7px;
  }

  & &__delivery {
    color: $title2Color;
    font-size: $mediumLittleSize;
  }

  & &__right {
    margin-left: auto;
    @include flex();
    gap:17px;
    align-items: flex-end;
    flex-direction: column;
  }

  & &__arrow {
    margin-right: 12px;
    transition: all .3s ease-in;

    &.active {
      transform: rotate(180deg);
    }

  }

  & &__hidden {

    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in;

    &.active {
      max-height: 220px;
    }
  }

  & &__add-inf {
    margin-left: 76px;
    font-size: $mediumLittleSize;

    & > div {
      margin-bottom: 12px;
    }

    & h4 {
      font-weight: 400;
    }
  }
}
