@import "../../../styles/constants";
@import "../../../styles/mixins";

.order-card-mobile {
  margin: 0 8px 4px;
  padding: 7px 7px 8px 4px;
  border-radius: 20px;
  background-color: $backgroundColor;
  @include flex();
  cursor: pointer;

  & &__image {
    margin-right: 8px;
    width: 68px;
    height: 80px;
    border-radius: 15px;
    background: $plugColor;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & &__title {
    font-family: Nunito Sans, sans-serif;
    font-size: $mediumMediumSize;
    font-weight: 800;
    color: $titleColor;
  }

  & &__price {
    margin-bottom: 5px;
  }

  & &__types {
    color: $text4Color;
    font-size: $mediumLittleSize;
  }

  & &__count {
    margin-bottom: 7px;
  }

  & &__delivery {
    color: $title2Color;
    font-size: $mediumLittleSize;
  }
}