@import "src/styles/constants";

.search {
  position: relative;
  height: 44px;
  display: flex;
  flex: 1;

  .search-input {
    padding: 8px 16px 8px 40px;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: $titleColor;
    background-color: $headerColor;
  }

  .search-button {
    position: absolute;
    left: 5px;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  @media screen and (max-width: 690px) {
    display: none;
  }

  &_mobile {
    margin-top: 8px;
    width: 100%;

    .search-input {
      border: 1px solid $text3CColor;
    }

    .search-button {
      display: none;
    }

    @media screen and (min-width: 690px) {
      display: none;
    }

    @media screen and (max-width: 690px) {
      display: flex;
    }
  }
}


