@import "src/styles/constants";
@import "src/styles/mixins";

.description {
  &__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 12px;
  }

  &__input {
    width: 100%;
    max-width: 847px;
  }

  & .brand {
    margin-top: 8px;
    @include flex(flex-start, center, 0);
    font-size: $littleSize;
    color: $text4Color;
  }
}

.mde {
  max-width: 1063px;
  margin-bottom: 32px;

  &.mde-error {
    border: 1px solid $errorColor;
    border-radius: 5px;
  }
}
