@import "src/styles/constants";

.description {
  &__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 12px;
  }

  &__input {
    width: 100%;
    max-width: 847px;
  }
}

.mde {
  max-width: 1063px;
  margin-bottom: 32px;

  &.mde-error {
    border: 1px solid $errorColor;
    border-radius: 5px;
  }
}
