@import "src/styles/constants";
@import "src/styles/mixins";

.box-order {
  margin-top: 20px;
  margin-bottom: 122px;

  & &__back {
    @include flex();
    align-items: center;
    gap: 15px;
    font-size: $subTitleSize;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 18.5px;

    @media screen and (min-width: 700px) {
      display: none;
    }
  }

  @media screen and (max-width: 430px) {
    margin-bottom: 60px;
  }

  & &__wrapper {
    @include flex(space-between);
    gap: 64px;

    @media screen and (max-width: 920px){
      gap: 14px;
    }
  }

  & &__main {
    flex: 1;
  }

  & &__header {
    margin-bottom: 24px;
    @include flex(space-between, center);

    @media screen and (max-width: 430px) {
      margin-bottom: 8px;
    }
  }

  & &__title {
    font-weight: 800;
    font-size: $subTitleSize;

    @media screen and (max-width: 430px) {
      font-size: $mediumLittleSize;
      font-weight: 400;
      color: $text4Color;
    }
  }



  & &__upper {
    @include flex();
    margin-bottom: 32px;

    @media screen and (max-width: 430px) {
      margin-bottom: 16px
    }
  }

  & &__image {
    margin-right: 14.5px;
    width: 124px;
    height: 172px;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (max-width: 365px) {
     width: 62px;
      height: 82px;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & &__data {
    height: 172px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 365px) {
      height: auto;
    }
  }

  & &__right {
    margin-left: auto;
  }

  & &__name {
    margin-bottom: 24px;
    font-size: $subTitleSize;
    color: $title2Color;
    font-weight: 800;

    @media screen and (max-width: 430px) {
      margin-bottom: 8px;
      font-size: $littleMediumSize;
    }
  }

  & &__price-mobile {
    margin-bottom: 4px;
    color: $title2Color;
    font-size: $littleMediumSize;
    font-weight: 800;

    @media screen and (max-width: 400px) {
      margin-bottom: 0;
      font-size: $littleSize;
    }
  }

  & &__inf {
    font-size: $littleMediumSize;
    color: $text4Color;

    @media screen and (max-width: 400px) {
      margin-bottom: 0;
      font-size: $littleSize;
    }
  }

  & &__date {
    margin-top: auto;

    @media screen and (max-width: 400px) {
      margin-top: 0;
    }

    color: $text4Color;

    & > span {
      color: $title2Color;
    }
  }

  & &__last {
    margin-top: 4px;
    color: $text4Color;

    & > span {
      color: $title2Color;
    }
  }

  & &__price {
    margin-left: auto;
    font-size: $subTitleSize;
    font-weight: 800;
    margin-top: 11px;
    margin-right: 5px;
    text-align: right;
  }

  & &__bottom {
    margin-left: 139px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @media screen and (max-width: 400px) {
     margin-left: 0;
    }

    & p {
      color: $text2Color;
      font-size: $littleMediumSize;

      @media screen and (max-width: 430px) {
        font-size: $littleSize;
        font-weight: 400;
      }
    }
  }

  & &__subtitle {
    margin-bottom: 10px;
    font-size: $subTitleSize;

    @media screen and (max-width: 430px) {
      margin-bottom: 8px;
      font-size: $mediumLittleSize;
      color: $text4Color;
      font-weight: 400;
    }
  }

  & &__buyer {
    width: 163px;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  & &__button {

    margin-top: 35px;

    @media screen and (max-width: 430px) {
      margin-top: 12px;
      border-radius: 8px;
      text-transform: none;
      font-weight: 800;
    }
  }

  & &__aside {
    max-width: 306px;
    border: 1px solid $borderColor;
    border-radius: 20px;
    padding: 22px 33px 41px;
    font-size: $littleMediumSize;
    color: $text4Color;

    @media screen and (max-width: 700px) {
      display: none;
    }

    & > p {
      margin-bottom: 20px;
    }
  }

  & &__first-p {
    color: $text2Color;
    margin-bottom: 30px;
  }
}
