@import "./src/styles/constants";
@import "./src/styles/mixins";

.header-reg {
  padding-top: 40px;
  height: 154px;
  font-size: $bigMediumSize;
  color: $backgroundColor;
  background: $backgroundGradient;


  @media screen and (max-width: 640px) {
    padding-top: 15px;
    height: 110px;
  }

  & h2 {
    @media screen and (max-width: 640px) {

    }
  }

  &__content {
    @include flex(flex-end, center, 12px)
  }

  &__button {
    max-width: 110px;
  }
}