@import "/src/styles/constants";

.cart-card {
  display: flex;


  & &__checkbox {
    margin-right: 47px;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1000px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 450px) {
      margin-right: 0;
    }
  }

  & &__image {
    margin-right: 21px;
    width: 109px;
    min-width: 109px;
    height: 163px;
    border-radius: 5px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 500px) {
      width: 107px;
      min-width: 107px;
    }
  }

  & &__inf {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }



  & &__name {
    color: $title2Color;
    font-size: $bigMediumSize;
    font-weight: 500;
    margin-bottom: auto;
  }

  & &__type {
    margin-bottom: 15px;
  }

  & &__buttons {
    display: flex;
    align-items: center;

    & > p {
      cursor: pointer;
    }
  }

  & &__favorite {
    margin-left: 22px;
    margin-right: 12px;
  }

  & &__prices {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;

    @media screen and (max-width: 610px) {
      display: none;
    }

    & > .price {
      font-size: $subTitleSize;
      color: $title2Color;
    }
  }

  & &__prices-mobile {
    display: none;
    margin-left: 0;
    align-items: flex-end;
    gap: 5px;
    flex-direction: row;

    @media screen and (max-width: 610px) {
      display: flex;
    }

  }
}
