@import "./src/styles/mixins";

.slider {
  position: relative;
  margin-top: 54px;
  margin-bottom: 83px;

  @media screen and (max-width: 775px){
    margin-top: 17px;
    margin-bottom: 41px;
  }

  @media screen and (max-width: 500px){
    margin-bottom: 20px;
  }

  &__item {
    border-radius: 37px;
    text-align: center;
    width: 100%;

    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.slider-button {
  top: 50%;
  @include square(48px);
  @include flex(center, center);
  border-radius: 15px;
  border: none;
  background: transparent;

  &::after {
    content: '';
  }
}

.swiper-button-prev::after, .swiper-button-next:after {
  content: none !important;
}